$white: #fff;
$black: #000;

$yellow-100: #f2c94c;
$yellow-200: rgba(208, 172, 62, 0.8);
$pink-100: #e45cae;
$pink-200: rgba(228, 92, 174, 0.8);
$red: #e12b76;
$green-100: #27ae60;
$green-200: rgba(39, 174, 96, 0.8);

$gray-100: #f7f7f7;
$gray-200: #e9e9e9;
$gray-300: #797979;
$gray-background-dark: #333333;
$gray-background-light: #f2f2f2;

$divider-light: #cecece;
$divider-dark: #bdbdbd;

$text-blue: #0b34dc;
$text-green: #1bd264;

$background-dark: $black;
$text-dark: $black;
$background-light: $white;
$text-light: $white;
$background-dark-gray: $gray-background-dark;
